<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%= link_to "ユーザー情報編集", edit_user_path %>
<%= link_to "参加イベント", joined_events_path%>
<%= link_to "開催したイベント", hold_user_events_path%>
<%= link_to "イベントを開催する", new_user_event_path%>