.card.event-info
  = link_to list.title, event_path(list)
  p= list.summary
  = link_to '参加を取り消す', unjoin_event_path(list),  method: :post, class: 'button is-danger', data: {confirm: '参加を取り消しますよろしいですか？'}