<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>
<% if @event_list.empty? %>
  <p>
    ここには何もありませんよ？
  </p>
<% else %>
  <% @event_list.each do |e| %>
    <%= e.title %><br />
  <% end %>
<% end %>