@import 'edit_variables';
@import 'skyblue';
@import 'alert';

.container {
  background-color: #FFF;
  min-height: 100vh;
}

div.inline_datetime{
  display: flex;
  justify-content: center;
  align-items: center;
  & .field_with_errors{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.tab-controll {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  & a {
    border-bottom: 2px solid $main-grey-color;
    flex: 200px 1 1;
    text-align: center;

    &.active {
      border: 2px solid $main-grey-color;
      border-bottom: none;
    }
  }
}

textarea {
  min-width: 100%;
}

.field_with_errors {
  @extend .error
}

input[disabled], select[disabled] {
  background-color: lighten($main-grey-color,20%);
}

.inline_checkbox{
  display: flex;
  padding: 0px;
  
  & label {
    flex: 1 1 400px;
  }
}